# R Environment Variables, session data etc.
.Renviron
.Rprofile
.Rhistory
.Rapp.history
*.RData
.Ruserdata

# private R files
private.*
server.script.R

# Bloody mac files
.DS_Store

# any private files or regularly changed files
tools/*
gmailr.json
.secret*
.ppk
.pem
API.txt
controller.Rout*
*controller.Rout*


